//Variables will remain unused unless needed
$carnelian: #bd1e1e;
$lavender-blush: #ffeaec;
$cadet-blue: #5ab1bb;
$gunmetal: #022f40;
$deep-saffron: #f19a3e;
$common-width: 100%;
$common-padding: 5px;
$common-margin: 0;
$common-headers: center;
$common-text: left;